$color-primary: #206cfc;
$color-secondary: #883dfc;
$color-tertiary: #5954fc;

$color-blue-light: #87c1fc;
$color-grey: #9b9b9e;

$color-black: #000000;
$color-white: #f8f8f8;

// Default font size
$default-font-size: 16px;
