$color-primary: #206cfc;
$color-secondary: #883dfc;
$color-tertiary: #5954fc;

$color-blue-light: #87c1fc;
$color-grey: #b8b6fc;

$color-black: #0f0f0f;
$color-white: #f8f8f8;

// Default font size
$default-font-size: 16px;
